<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Fonts Nunito -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
  <!-- CSS style main file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>{% block title %}BrainTree Integration with Flask/Python{% endblock %}</title>
</head>

<body>

  <nav>
    <ul>
      <li role="presentation"><a href="{{ url_for('tr_new') }}">New Transaction</a></li>
      <li role="presentation"><a href="{{ url_for('tr_list') }}">Transaction List</a></li>
    </ul>
  </nav>


  {% block body %}
  {% endblock %}

  <footer class="footer">
    <p class="centered">© 2022 Renato Bianco - BrainTree Integration Project</p>
  </footer>

</body>

</html>