{% extends "base.html" %}
{% block title %}Braintree Test Checkout{% endblock %}
{% block body %}


<!-- Let's show all the transactions available in the following Table -->

<table class="centered tabsize">
  <tr>
    <th>Date</th>
    <th>Transaction ID</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Response Code</th>
    <th>Response Text</th>
    <th>Payment Method</th>
    <th>Action</th>
  </tr>


  {% for item in collection %}
  <tr>
    <td class="tdid">{{ item.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</td>
    <td class="tdid"><a href="{{ url_for('tr_show', transaction_id=item.id) }}">{{ item.id }}</a></td>
    <td class="tdid">{{ item.currency_iso_code }} {{ item.amount }}</td>
    <td>{{ item.status }}</td>
    <td>{{ item.processor_response_code }}</td>
    <td class="tdres">
      {% if 'gateway' in item.status %}
        {{ item.gateway_rejection_reason.capitalize() }}
      {% else %}
        {{ item.processor_response_text }}
      {% endif %}
    </td>
    <td>{{ item.payment_instrument_type }}</td>
    <td class="tdid">
      {% if item.refund_id == None %}
        {% if item.status == 'settled' or item.status == 'settling' %}
          <a href="{{ url_for('tr_refund', transaction_id=item.id) }}">Refund</a>
        {% elif item.status == 'authorized' or item.status == 'submitted_for_settlement' or item.status == 'settlement_pending' %}
          <a href="{{ url_for('tr_void', transaction_id=item.id) }}">Void</a>
        {% elif item.status == 'voided' %}
          <p>Voided</p>
        {% elif 'rejected' in item.status %}
          <p>Rejected</p>
        {% elif 'declined' in item.status %}
          <p>Declined</p>
        {% endif %}
      {% elif item.refund_id != None %}
        <p>Refunded</p>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}