{% extends "base.html" %}
{% block title %}Braintree Transaction List{% endblock %}
{% block body %}


<!-- Let's show all the transactions available in the following Table -->

<table class="centered tabsize">
  <tr>
    <th>Date</th>
    <th>Transaction ID</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Response Code</th>
    <th>Response Text</th>
    <th>Payment Method</th>
    <th>Action</th>
  </tr>


  {% for item in collection %}
  <tr>
    <td class="tdid">{{ item.created_at.strftime("%d/%m/%Y %H:%M:%S") }}</td>
    <td class="tdid"><a href="{{ url_for('tr_show', transaction_id=item.id) }}">{{ item.id }}</a></td>
    <td class="tdid">{{ item.currency_iso_code }} {{ item.amount }}</td>
    <td>{{ item.status }}</td>
    <td>{{ item.processor_response_code }}</td>
    <td class="tdres">
      {% if 'gateway' in item.status %}
        {{ item.gateway_rejection_reason.capitalize() }}
      {% else %}
        {{ item.processor_response_text }}
      {% endif %}
    </td>
    <td>{{ item.payment_instrument_type }}</td>
    <td class="tdid">
      {% if item.refund_id == None %}
        {% if item.status == 'settled' or item.status == 'settling' %}
          <!-- Refund -->
          {% if item.refunded_transaction_id == None %}
            <a href="{{ url_for('tr_refund', transaction_id=item.id) }}">Refund</a>
          <!-- or Refunded -->  
          {% else %}
            Refunded
          {% endif %}
        {% elif item.status == 'authorized' or item.status == 'submitted_for_settlement' or item.status == 'settlement_pending' %}
          <!-- Void -->
          {% if item.refunded_transaction_id == None %}
            <a href="{{ url_for('tr_void', transaction_id=item.id) }}">Void</a>
          <!-- or Void Refund -->  
          {% else %}
            <a href="{{ url_for('tr_void', transaction_id=item.id) }}">Void Refund</a>
          {% endif %}
        {% elif item.status == 'voided' %}
          <!-- Voided -->
          {% if item.refunded_transaction_id == None %}
            <p>Voided</p>
          <!-- or Refund Voided -->  
          {% else %}
            <p>Refund Voided</p>
          {% endif %}
        <!-- Rejected -->  
        {% elif 'rejected' in item.status %}
          <p>Rejected</p>
        <!-- Declined -->  
        {% elif 'declined' in item.status %}
          <p>Declined</p>
        {% endif %}
      <!-- Refunded -->  
      {% elif item.refund_id != None and item.refunded_transaction_id == None %}
        Refunded
      {% endif %}   
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}