{% extends "base.html" %}
{% block title %}Braintree Test Checkout{% endblock %}
{% block body %}

<div class="new_tr_container">
  <h2>Braintree New Transaction</h2>

  <form id="payment-form" method="post" action="checkouts">
    <section>
      <label for="amount">
        <span>Amount</span>
        <div>
          <input id="amount" name="amount" type="number" min="1" placeholder="Amount" value="10">
        </div>
      </label>
      <div id="bt-dropin"></div>
    </section>

    <input type="hidden" id="nonce" name="payment_method_nonce" />
    <button class="button" type="submit" id="submit-button"><span>Checkout</span></button>
  </form>

</div>

<script src="https://js.braintreegateway.com/web/dropin/1.20.4/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = '{{ client_token }}';

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin'
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }
        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
{% endblock %}